<h1>{{ title }}</h1>

<div *ngIf="!displayEdit">
  <h2>User Information</h2>
  <div>
    <p><span class="label">Name:</span>{{ user1.name }}</p>
    <p><span class="label">Age:</span>{{ user1.age }}</p>
    <p><span class="label">Favorite Color:</span>{{ user1.favoriteColor }}</p>
  </div>
</div>

<div *ngIf="displayEdit">
  <h2>Update User Information</h2>
  <form>
    <p>
      <label class="label" for="name">Name:</label>
      <input name="Name:" id="name" [(ngModel)]="user1.name" />
    </p>
    <p>
      <label class="label" for="age">Age:</label>
      <input
        type="number"
        min="0"
        name="Age:"
        id="age"
        [(ngModel)]="user1.age"
      />
    </p>
    <p>
      <label class="label" for="color">Favorite Color:</label>
      <input
        name="Favorite Color:"
        id="color"
        [(ngModel)]="user1.favoriteColor"
      />
    </p>
  </form>
</div>

<button (click)="toggleEdit()">Toggle Edit</button>
