<h1>{{ title }}</h1>

<div *ngIf="!displayEdit">
  <h2>User Information</h2>
  <div>
    <p><span class="label">Name:</span>{{ user1.name }}</p>
    <p><span class="label">Age:</span>{{ user1.age }}</p>
    <p><span class="label">Favorite Color:</span>{{ user1.favoriteColor }}</p>
    <p>
      <span class="label"
        >User is <span *ngIf="!user1.happy"> not </span>happy</span
      >
    </p>
    <p><span class="label">Favorite Food:</span>{{ user1.favoriteFood }}</p>
  </div>
</div>

<div *ngIf="displayEdit">
  <h2>Update User Information</h2>
  <form>
    <p>
      <label class="label" for="name">Name:</label>
      <input name="name" id="name" [(ngModel)]="user1.name" />
    </p>
    <p>
      <label class="label" for="age">Age:</label>
      <input
        type="number"
        min="0"
        name="age"
        id="age"
        [(ngModel)]="user1.age"
      />
    </p>
    <p>
      <label class="label" for="color">Favorite Color:</label>
      <input name="color" id="color" [(ngModel)]="user1.favoriteColor" />
    </p>
    <p>
      <label class="label" for="happy">Is the user happy?</label>
      <input
        type="checkbox"
        name="happy"
        id="happy"
        [(ngModel)]="user1.happy"
      />
    </p>
    <p>
      <label class="label" for="food">Favorite Food:</label>
      <select name="food" id="food" [(ngModel)]="user1.favoriteFood">
        <option value="pizza">pizza</option>
        <option value="bacon">bacon</option>
        <option value="cheese">cheese</option>
      </select>
    </p>
  </form>
</div>

<button (click)="toggleEdit()">Toggle Edit</button>
